__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
.pytest_cache/
.vscode/
generated_data/
clickhouse_data/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
airflow_db/
kafka_data/
zookeeper_data/
*.db
*.log
*.zip
V1.zip
GITHUBLIST.csv
master-config.bat
git.bat
run_git.bat
do_commits.ps1
ROUGH.TXT
node_modules/
